* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 20vh;
  background: lightblue;
}

main {
  height: calc(100vh - 40vh);
}

footer {
  background: yellow;
  height: 20vh;
}

