* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 20vh;
  background: lightblue;
}

main {
  height: calc(100vh - 40vh);
  padding: 20px;
  ul {
    li {
      list-style-type: none;
    }
  }
}

footer {
  background: yellow;
  height: 20vh;
}
